@use "../../partials/fonts";
@use "../../partials/colors";
@use "../../partials/effects";

.main_header {
  padding: 15vh 0;
  width: 100%;
  background-image: url(/images/carbon_fibre_pattern.png);
  color: colors.$secondary-color;
  position: relative;

  &__headline {
    font-family: fonts.$bold-family;
    font-size: 4rem;
  }

  &__blurb {
    font-family: fonts.$regular-family;
    font-weight: lighter;
    font-size: 36px;
  }

  &__learn-more-btn {
    border-radius: 20px 20px 20px 20px;
    padding: 5px 40px;
    background: colors.$hightlight-color;;
    color: colors.$primary-color;
    font-family: fonts.$regular-family;
    border: 3px solid colors.$hightlight-color;
    line-height: 18px;
  //  top:0;
    transition: transform 0.25s ease;
    position:relative;

    &:hover {
      background: colors.$secondary-color;
      border: 3px solid colors.$primary-color;
      color:colors.$primary-color;
      top:2px;
    }
  }
}