@use "./partials/colors";
@use "./partials/fonts.scss";

body {
  background-color: colors.$background-main-color;
  font-size:fonts.$regular-size;
  font-family: fonts.$regular-family;
}

a{
  text-decoration: none;
  color:colors.$hightlight-color;
}

header{
  position:relative;
  z-index: 9999;
}

.page-wrapper{
  position:relative;
  width: 100%;
}
